.title{
  font-size:35px;
  font-weight:bold;
  padding-bottom: 0px;
  text-align: center;
  color:white;
  /* background: linear-gradient(to bottom,#4e0ca6, #eb05d4);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; */
}
.subtitle{
  color: white;
  text-align: center;
  padding-top: 0px;
  padding-bottom: 0px;
  font-size:30px;
  margin-top: 0px;
  text-decoration: underline;

}

.header{

  background:#14171a;
  margin:0;
  padding:0;

  outline: white;
  outline-style: solid;
  outline-width: 2px;
  border-radius: 0 0 10px 10px;
  height:100px;
}

.img {
  width: 100px;
  height:100px;
  margin-top: 0px;
  margin-left: 0px;
  padding-left: 10px;
  padding-top: 0px;
  position: absolute;
}


.container {
    max-width: 100vw;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    grid-gap: 35px;
    margin: 30 auto;
}

.text-center {
    max-width: inherit;
    max-height: 100px;
}

.card {
  height: 350px;
  padding: 50px;
  border-width: 2px;
  border-color: white;
  border-radius: 20px;
  border-style: solid;
  align-self: center;
  justify-self: center;
}

.card-body{
  padding-bottom: 0px;
  padding-top: 10px;
  text-align: center;
  font-weight: bold;
}


.card-title{
  color: white;
  font-size:28px;
  padding: 0px;
  margin-top: 15px;
  text-decoration: none;

}


a:hover {
  color: gray;
}


.card-img-top{
  max-width: inherit;
  max-height: 300px;
  display: inline-block;
  object-fit: cover;
  background-size:cover;
  width:100%;
  height:100%;
  padding-bottom: 0px;
}

body{
  margin:0;
  background-color: rgb(31, 35, 38);
}
html,body{
  color:black;
}
